*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header, aside, #default-view{
	border: 3px solid black;
}

header{
	height: 25vh;
	width: 100%;
}

main{
	display: flex;
}

aside{
	padding: 10px;
	width: 25vw;
	height: 75vh;
}

.task-view{
	padding: 20px;
	width: 75vw;
	height: 75vh;
}

form{
	display: flex;
	flex-direction: column;
}